.mapboxgl-ctrl-attrib-inner {
    display: none !important;
}

.mapboxgl-control-container {
    display: none !important;
}

.mapboxgl-canvas {
    bottom: 0% !important;
}


.comment-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-username {
    font-weight: bold;
    color: #333;
}

.comment-text {
    margin-top: 5px;
    color: #666;
}


/*
.mapboxgl-map {
    width: 100% !important;
    height: 100% !important;
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}

.mapboxgl-canvas-container {
    width: 100% !important;
    height: 100vh !important;
    position: absolute !important;
}

#mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate {
    width: 100% !important;
    height: 100vh !important;
    position: relative !important;
}
*/