.mapboxgl-ctrl-attrib-inner {
    display: none !important;
}

.mapboxgl-control-container {
    display: none !important;
}

.mapboxgl-canvas {
    bottom: 0% !important;
}

.mapboxgl-ctrl-geocoder mapboxgl-ctrl {
    font-size: 1rem !important;
}

.mapboxgl-ctrl-geocoder--input {
    font-size: 1rem !important;
}

.comment-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-username {
    font-weight: bold;
    color: #333;
}

.comment-text {
    margin-top: 5px;
    color: #666;
}

@media (max-width: 270px) {
    .search-bar {
        top: 12%;
    }
}

@media (max-width: 768px) {
    .search-bar {
        top: 9%;
    }

    .location-pop-up {
        width: 80%;
    }

    .survey-pop-up {
        top: 60%;
        width: 80%;
    }

    .comments-pop-up {
        top: 60%;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .search-bar {
        top: 2%;
    }

    .location-pop-up {
        width: 50%;
    }

    .survey-pop-up {
        top: 50%;
        width: 50%;
    }

    .comments-pop-up {
        top: 50%;
        width: 50%;
    }
}

@media (max-width: 340px) {
    .search-bar {
        top: 15%;
    }
}